<footer>
  <div class="footer-body">
    <div class="footer-content">
      <p>
	      Αυτός ο ιστότοπος τεκμηρίωσης δημιουργήθηκε με τη χρήση των τεχνολογιών:
      </p>
      <p class="logos">
        <a class="logo" href="https://antora.org" title="Site generation by Antora" target="_blank" rel="noopener"><img
          src="{{{uiRootPath}}}/img/antora-logo.png"
          alt="Antora logo" height="30"></a>
        <a class="logo" href="https://asciidoctor.org" title="Text processing by Asciidoctor" target="_blank" rel="noopener"><img
          src="{{{uiRootPath}}}/img/asciidoctor-logo.svg"
          alt="Asciidoctor logo" height="30"></a>
        <a class="logo" href="https://github.com" title="Site hosting by GitHub Pages" target="_blank" rel="noopener"><img
          src="{{{uiRootPath}}}/img/github.svg"
          alt="GitHub logo" height="30"></a>
      </p>
    </div>
    <div class="footer-content">
      <p>
        Description about CarRental ???
      </p>
    </div>
    <div class="social-links">
      <ul>
        <!-- LinkedIn image -->
        <li class="social-icon">
		  <a href="https://www.linkedin.com/company/netmechanicsgr/" title="Find us on LinkedIn" target="_blank" rel="noopener noreferrer">
            <svg class="svg svg-sc-in" role="img" aria-label="in icon"><use href="{{{uiRootPath}}}/img/svg_main.svg#svg-sc-in"></use></svg>
          </a>
        </li>
        <!-- Facebook image -->
        <li class="social-icon">
          <a href="https://www.facebook.com/netmechanics.gr" title="Find us on Facebook" target="_blank" rel="noopener noreferrer">
            <svg class="svg svg-sc-fb" role="img" aria-label="fb icon"><use href="{{{uiRootPath}}}/img/svg_main.svg#svg-sc-fb"></use></svg>
          </a>
        </li>
        <!-- Instagram image -->
        <li class="social-icon">
          <a href="https://www.instagram.com/netmechanics.gr/" title="Find us on Instagram" target="_blank" rel="noopener noreferrer">
            <svg class="svg svg-sc-ins" role="img" aria-label="ins icon"><use href="{{{uiRootPath}}}/img/svg_main.svg#svg-sc-ins"></use></svg>
          </a>
        </li>
        <!-- TikTok image -->
        <li class="social-icon">
          <a href="https://www.tiktok.com/@netmechanics.greece" title="Find us on TikTok" target="_blank" rel="noopener noreferrer">
            <svg class="svg svg-sc-tt" role="img" aria-label="tiktok icon"><use href="{{{uiRootPath}}}/img/svg_main.svg#svg-sc-tt"></use></svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-footer">
      <a class="footer-nmcr-logo" href="https://www.netmechanics.gr"></a>
      <p>
        &copy; NetMechanics, S.A. All rights reserved.
      </p>
    </div>
  </div>
</footer>